/* CLASE BASE PARA FILAS Y CABECERA */
.resource-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

/* ESTILO ESPECIAL SOLO PARA LA CABECERA */
.header-style {
    background-color: #f5f5f5; /* Gris claro */
    font-weight: bold;
    color: #777;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd; /* Borde más grueso abajo del título */
}

/* COLUMNA 1: CÓDIGO */
.tree-col-code {
    width: 80px;      /* Ancho fijo */
    min-width: 80px;
}

/* COLUMNA 2: DESCRIPCIÓN */
.tree-col-desc {
    flex: 1;          /* Ocupa todo el espacio sobrante */
    padding: 0 15px;
}

.text-bold {
    font-weight: bold; /* También puedes usar font-weight: 700; */
}

.col-actions {
    min-width: 132px; /* Antes era 90px, ahora necesitamos más espacio */
    display: flex;
    justify-content: flex-end;
    gap: 6px; /* Espacio entre bolitas */
}
/*
.tree-col-code {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    overflow: hidden;
}

.tree-col-desc {
    flex: 1;
    min-width: 0;
    max-width: calc(100% - 350px);
    padding: 0 15px;
    overflow: hidden;
}

.col-actions {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    flex-shrink: 0;
}

.tree-col-code .main-text,
.tree-col-code .text-bold,
.tree-col-code .role-badge,
.tree-col-desc .main-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tree-col-desc .sub-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

*/
/* Estilo base del botón redondo */
.action-btn {
    width: 32px;  /* Un poco más pequeños para que quepan bien en móvil */
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #f4f6f8;
    color: #555;
    font-size: 14px;
    transition: all 0.2s;
}

/* --- COLORES ESPECÍFICOS AL PASAR EL MOUSE (HOVER) --- */

/* Ver - Azul */
.action-btn.view:hover {
    background-color: #e3f2fd;
    color: #1976d2;
}

/* Descargar - Verde Oscuro */
.action-btn.download:hover {
    background-color: #e8f5e9;
    color: #388e3c;
}

/* Email - Gris/Amarillo */
.action-btn.email:hover {
    background-color: #fff3e0;
    color: #f57c00;
}

/* WhatsApp - Verde Oficial */
.action-btn.whatsapp:hover {
    background-color: #dcf8c6;
    color: #128c7e;
}

/* Adjuntar - Gris Azulado */
.action-btn.attach:hover {
    background-color: #eceff1;
    color: #607d8b;
}


.toast-clean {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: 0 !important;
}

.toast-clean .x-toast-inner {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: 0 !important;
}
